#root {
    width: 70%;
    height: 150px;
    background-color: aliceblue;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: row;
}

h1{
    font-family: 'Citylines', sans-serif;
    font-size: 40px;
    margin-top: 50px;
}

h2{
    font-size: 20px;
    width: 250px;
    margin: auto;
    text-align: center;
}

h3{
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
    color: red;
}

#inputField{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    margin: auto;
    line-height: 0.5px;
}

input{
    width: 150px;
    margin-top: 15px;
}

button{
    margin-top: 15px;
}

